// app global css in SCSS form

@font-face {
  font-family: 'montserrat-regular';
  src: url('/fonts/montserrat/Montserrat-Regular.woff2');
}

@font-face {
  font-family: 'montserrat-italic';
  src: url('/fonts/montserrat/Montserrat-Regular-Italic.woff2');
}

@font-face {
  font-family: 'montserrat-thin';
  src: url('/fonts/montserrat/Montserrat-Thin.woff2');
}

@font-face {
  font-family: 'montserrat-thin-italic';
  src: url('/fonts/montserrat/Montserrat-Thin-Italic.woff2');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('/fonts/montserrat/Montserrat-Bold.woff2');
}

@font-face {
  font-family: 'montserrat-bold-italic';
  src: url('/fonts/montserrat/Montserrat-Bold-Italic.woff2');
}

@font-face {
  font-family: 'cutive-mono';
  src: url('/fonts/montserrat/Cutive-Mono.woff2');
}

body {
  font-family: 'montserrat-regular';
  font-size: .8em;
  /* For Firefox */
  /* Note: You may need to adjust this for older Firefox versions */
  scrollbar-width: none;

  /* For Edge and other non-WebKit browsers */
  /* Note: You may need to adjust this for older Edge versions */
  -ms-overflow-style: none;
}

form {
  // padding: 1em;
  justify-items: center;
  // border: 1px solid rgb(69, 71, 69);
}

p {
  text-indent: 2em;
}

code {
  font-family: Monaco, monospace;
  // background-color: $grey-9;
  color: $orange-10;
  padding: 0.2em;
  word-break: normal;
  border-radius: 5px;
  font-size: 1.2em;
}


th {
  font-size: 1.1em !important;
  font-weight: bold;
}

.token-symbol {
  color: rgb(134, 218, 8);
}

.token-thumbnail {
  cursor: pointer;
  width: 12em;
  height: 12em;
}

.token-thumbnail:hover {
  background-color: lighten($primary, 50);
}

.q-dark.token-thumbnail:hover {
  background-color: lighten($dark, 5);
}

@media (max-width: $breakpoint-xs-max) {
  .token-thumbnail {
    min-width: 12em;
    min-height: 12em;
  }
}

@media (max-width: $breakpoint-sm-max) {
  .token-thumbnail {
    min-width: 13em;
    min-height: 13em;
  }
}

// .q-dialog__inner > div {
//   overflow: unset;
// }

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0; /* Adjust as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.disabled {
  color: #686666;
}